<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block titulo %}Aula Virtual{% endblock %}</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <nav class="barra">
      <a class="marca" href="{{ url_for('index') }}">Aula Virtual LBDG</a>
        
    <div class="nav-enlaces">
        {% if current_user.is_authenticated %}<a href="{{ url_for('cursos') }}"
          >Mis cursos</a
        ><span class="usuario">{{ current_user.nombre }}</span
        ><a href="{{ url_for('logout') }}">Salir</a>{% else %}<a
          href="{{ url_for('login') }}"
          >Ingresar</a
        ><a class="boton boton-chico" href="{{ url_for('registro') }}"
          >Crear cuenta</a
        >{% endif %}
      </div>
      <button id="theme-toggle" class="theme-toggle" type="button" aria-label="Cambiar modo">
    <span class="theme-icon sun">☀</span>
    <span class="theme-icon moon">☾</span></button>  
    </nav>
    <main class="contenedor">
      {% with mensajes = get_flashed_messages(with_categories=true) %}{% for
      categoria, mensaje in mensajes %}
      <div class="alerta {{ categoria }}">{{ mensaje }}</div>
      {% endfor %}{% endwith %}{% block contenido %}{% endblock %}
    </main>
    <script src="{{ url_for('static', filename='js/theme.js') }}"></script>
  </body>
</html>
